body {
  height: 100vh;
  width: 100vw;
}

.forPadding {
  padding-left: 0.8rem;
}

.forPadding2 {
  padding-right: 2rem !important;
  padding-top: 0.31rem !important;
}

.forBorder {
  border-radius: 36px !important;
  /* box-shadow: #888888 !important; */
}

.forGrid {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-direction: row; */
  align-items: center;
  margin-top: 240px !important;
}
